{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ],
    "@babel/preset-react",
    "@babel/preset-stage-0"
  ],
  "env": {
    "test": {
      "presets": [["@babel/preset-env"], "@babel/preset-react"],
      "plugins": [
        [
          "transform-require-ignore",
          {
            "extensions": [".less"]
          }
        ]
      ]
    },
    "development":{
      "plugins":[
        "react-hot-loader/babel"
      ]
    }
  },
  "plugins": [
    "transform-es2015-modules-commonjs",
    "transform-decorators-legacy",
    "transform-class-properties",
    "@babel/plugin-proposal-object-rest-spread"
  ]
}